
.account-content {
    display: flex;
    flex-direction: column;
    padding: 15px 200px 15px 200px;
    color: black;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: fit-content;
    background-color: rgba(176, 208, 236, 0.51);
    padding: 30px 50px 30px 50px;
    border-radius: 20px;
    color: black;
}

.profile-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.profile-image {
    display: flex;
    flex-direction: column;
    width: 150px;
    border-radius: 50%;
    border: solid white 3px;
}

.profile-image img {
    width: 100%;
    border-radius: 50%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-info h2 {
    margin-bottom: 0px;
}

.profile-info h4 {
    margin-top: 0px;
}

.profile-info p {
    margin-top: 0px;
    font-size: 13px;
    text-transform: uppercase;
    color: rgb(99, 99, 99);
}

.profile-info img {
    width: 50px;
    margin-bottom: 0px;
}

.quick-access {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quick-access h2 {
    margin-bottom: 2px;
}

.quick-access p {
    margin-top: 0px;
}

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.access-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 10px;
    border: 1px rgb(187, 186, 186) solid;
    transition: 0.33s;
}

.access-card:hover {
    scale: 1.05;
    box-shadow: 0px 5px 4px -1px #6a6a6a;
    cursor: pointer;
}

.access-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

#card-icon {
    font-size: 30px;
    color: rgb(29, 29, 75);
}

.access-content:hover a {
    color: rgb(70, 70, 216);
}