.cart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    padding: 20px 50px 20px 50px;
}

h1 {
    color: rgb(29, 29, 75);
    cursor: default;
    margin-bottom: 5px;
}

.cart-content {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    
}

.cart-products {
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
    color: black;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

.cart-products ion-icon {
    font-size: 25px; 
    color: blue; 
    margin-left: 10px; 
    margin-right: 10px; 
    cursor: pointer;
}

.products {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}
.product ion-icon {
    cursor: pointer;
    
}
.products img {
    width: 100px;
}

.cart-summary {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-right: 50px;
}

.cart-summary p {
    color: black;
}

.cart-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

hr {
    width: 100%;
}

.checkout {
    padding: 10px;
    width: 80%;
    margin: auto;
    border: none;
    background-color: rgb(65, 65, 124);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.33s;
}

.checkout:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(38, 38, 126);

}

.continue-as-guest {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.continue-as-guest p {
    color: black;
    width: 40%;
}

.btn-row {
    display: flex;
    flex-direction: row;
    width: 18%;
    gap: 10px;
}

.login {
    padding: 10px;
    width: 40%;
    margin: auto;
    border: none;
    background-color: rgb(65, 65, 124);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.33s;
}

.guest {
    padding: 10px;
    width: 60%;
    margin: auto;
    border: none;
    background-color: rgb(65, 65, 124);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.33s;
}

.login:hover,.guest:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(38, 38, 126);
}

.prod-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
}

.prod-row img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.prod-btns button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color:rgb(29, 29, 75);
    cursor: pointer;
}

.left {
    display: flex;
    flex-direction: row;
}

