.products-block{
    height:120px;
    position: absolute;
    left:0;
    right: 0;
    scroll-margin-top: 100px;
}

.products-block .title{
    margin-top: 35px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: black;

}

.products-block .text{
    text-align: center;
    margin-top:10px;
    color: black;
}

.products-grid{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-auto-rows: 1fr;
    column-gap: 60px;
    row-gap: 100px;
    justify-content: center;
    padding-bottom: 100px;
    
 
}

.products-grid img{
   width: 100%;
   height: 80%;
   border:solid;
   border-width: 0.1px;
   border-color: rgba(0, 0, 0, 0.1);
   border-radius: 15px;
   transition: 0.3s;
   
}
.product{
    animation: bounce 2.5s infinite linear;
    display: inline-block;}

@keyframes bounce{
  
    50% { transform: translateY(-10px) }
 
 
}
  
.products-grid img:hover{
    box-shadow: 1px 1px 12px #7e7e7e;
    cursor:pointer;
 }

 .products-grid.night img:hover{
    box-shadow: 1px 1px 12px #ffffff
 }


 .products-grid .name{
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: black
 }
 
 .products-grid .tools{
    text-align: center;
    font-size: 16px;
    color: red;
    font-weight:bold;

 }

 .fa-cart-plus{
    background:#06dd4e;
  }
  
  .addtocart{
    padding:0.5em 1em 0.5em 1em;
    border-radius:15px;
    text-align: center;
    display: block;
    margin-left: 63px;
    margin-top: 5px;
    border:none;
    font-size:10px;
    position:relative;
    background:#1ed327;
    cursor:pointer;
    height:30px;
    width:120px;
    overflow:hidden;
    transition:transform 0.1s;
    z-index:1;
  }
  .addtocart:hover{
    transform:scale(1.1);
  }
  .pretext{
    color:#fff;
    background:#06dd2a;
    font-weight:bold;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Quicksand', sans-serif;
  }
  i{
    margin-right:10px;
    font-size: 15px;
  }
 